.btn-primary:hover {
  background-color: #f3969a!important;
  color: white;
}

.hero-background-img{
  border-radius: 0 !important;
  position: relative;
  background: rgba(0, 0, 0, 0.01); /* If our image is bright, we can tone it down with this darker overlay */
  padding-top:100px;
  padding-bottom:200px;
}
.hero-background-img:after {
  content: "";
  position: absolute;
  background-image: url("doggo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0.5; /* Tone the image down further by giving it transparency */
}

.rounded{
  border-radius: 150px !important;
}
